documentation/edgarBulkDataSample/
documentation/nyuData/
documentation/data_analysis_screens/
sql_connections_space/query_saved_results/
savedData
logs
venv39
venv

# Python cache directories
__pycache__/
*.py[cod]
*$py.class

# Node local runtime dependencies
node_modules/